.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.auth{
    text-align: center;
    animation-name: auth;
    animation-duration: 3s;
    color:aliceblue;
   
}

.auth button{
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    border: 1px solid white;
    padding: 20px;
    border-radius: 25px;
}

@keyframes auth{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}